@{
    ViewBag.Title = "About";
}
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/blouse.jpg" alt="Generic placeholder image" width="200" height="200">
            <h2>SHIRTS & BLOUSE</h2>
            <p class='p'>Shop shirts and blouses for women online at outstanding prices. Don't miss out on the monthly sale. find the best deals online or in-store.</p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/pakaian/?from=header" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/blouse.jpg" alt="Generic placeholder image" width="200" height="200">
            <h2>SHIRTS & BLOUSE</h2>
            <p class='p'>Shop shirts and blouses for women online at outstanding prices. Don't miss out on the monthly sale. find the best deals online or in-store.</p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/pakaian/?from=header" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/blouse.jpg" alt="Generic placeholder image" width="200" height="200">
            <h2>SHIRTS & BLOUSE</h2>
            <p class='p'>Shop shirts and blouses for women online at outstanding prices. Don't miss out on the monthly sale. find the best deals online or in-store.</p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/pakaian/?from=header" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <!-- /.col-sm-6 -->
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/pants.jpg" alt="Generic placeholder image" width="200" height="200">
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2>PANTS & SKIRTS </h2>
            <p class='p'>Find the perfect women's pants and skirts on sale and leggings on sale at Fida's Factory. Browse our wide selection and find women's pants and skirts on sale for the office. </p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?gclid=Cj0KCQiAt_PuBRDcARIsAMNlBdoDkqGDOyuskbV4E_hSBeXW8BDrwfdvmFU8V_KWs_joxX3jIPdaqm4aAnEWEALw_wcB" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/pants.jpg" alt="Generic placeholder image" width="200" height="200">
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2>PANTS & SKIRTS </h2>
            <p class='p'>Find the perfect women's pants and skirts on sale and leggings on sale at Fida's Factory. Browse our wide selection and find women's pants and skirts on sale for the office. </p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?gclid=Cj0KCQiAt_PuBRDcARIsAMNlBdoDkqGDOyuskbV4E_hSBeXW8BDrwfdvmFU8V_KWs_joxX3jIPdaqm4aAnEWEALw_wcB" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/img/pants.jpg" alt="Generic placeholder image" width="200" height="200">
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2>PANTS & SKIRTS </h2>
            <p class='p'>Find the perfect women's pants and skirts on sale and leggings on sale at Fida's Factory. Browse our wide selection and find women's pants and skirts on sale for the office. </p>
            <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?gclid=Cj0KCQiAt_PuBRDcARIsAMNlBdoDkqGDOyuskbV4E_hSBeXW8BDrwfdvmFU8V_KWs_joxX3jIPdaqm4aAnEWEALw_wcB" role="button">View details &raquo;</a></p>
        </div>
    </div><!-- /.col-sm-6 -->
<div class="row">
    <div class="col-sm-4">
        <img class="img-circle" src="~/img/shoes.jpg" alt="Generic placeholder image" width="200" height="200">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2>SHOES</h2>
        <p class='p'>Get up to 50% off women's shoes. Shop our selection of on-sale shoe styles including running, training and lifestyle shoes in Fida's Factory online store.</p>
        <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?from=header" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle" src="~/img/shoes.jpg" alt="Generic placeholder image" width="200" height="200">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2>SHOES</h2>
        <p class='p'>Get up to 50% off women's shoes. Shop our selection of on-sale shoe styles including running, training and lifestyle shoes in Fida's Factory online store.</p>
        <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?from=header" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle" src="~/img/shoes.jpg" alt="Generic placeholder image" width="200" height="200">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h2>SHOES</h2>
        <p class='p'>Get up to 50% off women's shoes. Shop our selection of on-sale shoe styles including running, training and lifestyle shoes in Fida's Factory online store.</p>
        <p><a class="btn btn-default" href="https://www.zalora.co.id/women/?from=header" role="button">View details &raquo;</a></p>
    </div><!-- /.col-sm-6 -->
</div><!-- /.row -->